* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  min-height: 100vh;
}
.main {
  background-image: linear-gradient(rgba(255,255,255,0.3), 
  rgba(255,255,255,0.3)), 
  url('./img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-bar-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  color: black;
  margin-bottom: 20px;
}

.city-searchbar {
  display: flex;
  gap: 50px;
  align-items: flex-end;
}

.searchbar {
  display: inline-block;
  padding-top: 10px;
  border-bottom: 1px solid rgb(133, 133, 133);
}

.searchbar input {
  max-width: 100px;
  border: 0;
  padding: 0 5px 0 10px;
  background-color: transparent;
}

.city-searchbar input:focus {
  outline: none;
}

.search-button {
  background-image: url('./img/magnifier-b.png');
  min-width: 15px;
  height: 15px;
  background-size: contain;
  background-color: transparent;
  border: 0;
  margin: 0 5px 5px 0;
}

.date-time {
  display: flex;
  gap:150px;
  font-weight: bold;
  font-size: 18px;
}

.temp {
  margin-top: 25px;
  min-width: 110px;
  font-size: 70px;
}

.weather {
  margin: 25px;
}

.temp-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 18px;
}
.container-title {
  display: none;
}

.temp-unit {
  min-width: 10px;  
  display: inline-block;
}

.button-day-hour {
  text-align: center;
}

.day, .hour {
  font-size: 24px;
  background-color: transparent;
  border: 0;
  padding: 5px;
}

.active {
 border-bottom: 1px solid black;
}

.hour-container  {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  padding: 20px 0;
  text-align: center;
}

.days-container {
  display: none;
}

.weather-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

footer {
  text-align: center;
  padding-bottom: 5px;
}

button {
   color: inherit;  
}

@media only screen and (min-width: 720px) {
 
  .main {
    display: grid;
    grid-template-rows: 1fr 4fr;
  } 
  
  .main-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .button-day-hour {
    display: none;
  }

  .main-container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 6fr ;
  }

  .container-title {
    display: flex;
    justify-content: center;
    font-size: 45px;
  }

  .weather-container {
    flex-direction: column;
  }

  .days-container, .hour-container   {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: none;
    padding: 20px 0;
    text-align: center;
  }
}